* {
  box-sizing: border-box;
}
/*
@font-face {
  font-family: 'printerfont';
  src: url('/MerchantCopy-GOXq.ttf');
}
*/

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}



/* BACK */
.backtext {
  text-align: justify;
  text-justify: inter-word;


  color: #0b46f7;
  font-size: 8px;
 

  letter-spacing: 0px;
  line-height: 1.3;

}

.back {

 
  position: relative;
  left:11.5cm;
  top:-2.5cm;
  transform: rotate(-90deg) ;
  border-style: solid;
  border-width: 1px;
  border-color: #c5c5c5;
  width: 7.5cm;
  height: 12.5cm;
  padding-left: .5cm;
  padding-right: .5cm;
  
}



/* FRONT  */

.front {
  right: 0;
  bottom: 0px;

 // border-style: solid;
 // border-width: 1px;
  width: 12.5cm;
  height: 7.5cm;

}

.frontblue {
  text-align: justify;
  text-justify: inter-word;
  color: #0b46f7;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: .3px;
  line-height: 1.3;
  overflow: hidden;
  word-wrap:normal;
  height: 10px;
}


.mainfront {
  //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  

  color: #2d2d2d;
  font-size: 65px;
  font-weight:600;
  letter-spacing: .0px;
  line-height: 0.8;
  -webkit-text-stroke: 0.75px rgb(110, 110, 110);
  line-height: .9;
  filter:blur(0.4px);
  transform: scale(.8, 1) translate(-50px, 0px); 
}



.printedarea{  
  //font-family: printerfont;
  padding: 0cm 1cm 1cm 1.5cm;
  text-align:left;
  text-justify: inter-word;
  color: #30302f;
  font-size: 16px;
  font-weight: normal;
  -webkit-text-stroke: 0.75px rgb(112, 111, 111);
  padding-bottom: 0%;
  left:100px;
}
.paid{
  text-align:right;
  width: 4cm;
  height: 4cm;
  position: absolute;
  top:3.8cm;
  left:3.1cm;
  letter-spacing: .0px;
  line-height: 1;
}
.paid2{
  text-align:right;
  width: 4cm;
  height: 4cm;
  position: absolute;
  top:2.8cm;
  left:7cm;
  letter-spacing: .0px;
  line-height: 1;
}
